[submodule "external resources/Projects at Work/pyCelonis-tools"]
	path = external resources/Projects at Work/pyCelonis-tools
	url = https://roboyo@dev.azure.com/roboyo/Process%20Mining%20Community/_git/pyCelonis-tools
	branch = main
[submodule "external resources/Projects at Work/pyCelonis%20-%20for%20Fuchs"]
	path = external resources/Projects at Work/pyCelonis%20-%20for%20Fuchs
	url = https://roboyo@dev.azure.com/roboyo/Fuchs%20Petrolub%20SE/_git/pyCelonis%20-%20for%20Fuchs
	branch = main
[submodule "external resources/Projects at Work/pyCelonis%20-%20OCPM%20migration%20tool"]
	path = external resources/Projects at Work/pyCelonis%20-%20OCPM%20migration%20tool
	url = https://roboyo@dev.azure.com/roboyo/Process%20Mining%20Community/_git/pyCelonis%20-%20OCPM%20migration%20tool
	branch = main
[submodule "external resources/Code by Florian/celonis-data-agent"]
	path = external resources/Code by Florian/celonis-data-agent
	url = https://github.com/floberthold/celonis-data-agent.git
[submodule "external resources/Projects at Work/Celonis AI Demand Forecast App/celonis-app-backups"]
	path = external resources/Projects at Work/Celonis AI Demand Forecast App/celonis-app-backups
	url = https://roboyo@dev.azure.com/roboyo/Celonis%20Apps/_git/celonis-app-backups
[submodule "external resources/Projects at Work/Celonis AI Demand Forecast App/celonis-mlwb"]
	path = external resources/Projects at Work/Celonis AI Demand Forecast App/celonis-mlwb
	url = https://roboyo@dev.azure.com/roboyo/Celonis%20Apps/_git/celonis-mlwb
[submodule "external resources/Projects at Work/Celonis AI Demand Forecast App/dummy-data-creator-sap"]
	path = external resources/Projects at Work/Celonis AI Demand Forecast App/dummy-data-creator-sap
	url = https://roboyo@dev.azure.com/roboyo/Celonis%20Apps/_git/dummy-data-creator-sap
