interactions:
- request:
    body: ''
    headers:
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
    method: GET
    uri: http://python-core-testing.celonis.cloud:9999/api/internal/v2/auth/team-id/PYTHON_CORE_TESTING_TEAM_DOMAIN
  response:
    content: '{"teamId":"67238b59-9a7b-4fbe-9228-a0ea3de8ea88","teamActive":true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: '{"token": "<AUTHORIZATION_TOKEN>", "teamId": "67238b59-9a7b-4fbe-9228-a0ea3de8ea88"}'
    headers:
      content-type:
      - application/json
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: POST
    uri: http://python-core-testing.celonis.cloud:9999/api/internal/v2/auth/application-key
  response:
    content: '{"accessToken": "eyJhbGciOiJIUzUxMiIsImtpZCI6Im1vNVNnMVU1cC1VUVlGNGVaX2MtTGxmNFJCazY4a2VHVk9jV2lIZkJiWHciLCJ0eXAiOiJKV1QiLCJ6aXAiOiJERUYifQ.eJyNWFtv3LYS_ivBPpuL-BLbyZuRBqdG0yRo83JwECwokpLopUiVpHa9KfrfzzeUtBdK6_rFXs18pMi5fDOjvxehK56UiKvo1squ4q5Viw8L3rZGCx61s6u12i0uCAb528t7WVzev2XvpLhhd0Vxw_hVec8ub98Wl-XlreTlO4Atb2iXP3Xj7JvPTnDz5he1Uca1jbLxzcdHYKLiTVh8-N_fCy2Bvb27ur4v3r1n7_ldwW7KQrH3V1f3jL9V_Fqqe8Xv7_c7286Yi4V0DdcWa7_99_uvX7-sPn7949Pq-6c_vz9--Q_-P_y--uXr7w-PX7DMO4NlVxeLyruupdf-uFiUisfOq9_UjgQLLjfcCiVZq3yjQ8DdAws[...]
