interactions:
- request:
    body: ''
    headers:
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
    method: GET
    uri: http://python-core-testing.celonis.cloud:9999/api/internal/v2/auth/team-id/PYTHON_CORE_TESTING_TEAM_DOMAIN
  response:
    content: '{"teamId":"67238b59-9a7b-4fbe-9228-a0ea3de8ea88","teamActive":true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: '{"token": "<AUTHORIZATION_TOKEN>", "teamId": "67238b59-9a7b-4fbe-9228-a0ea3de8ea88"}'
    headers:
      content-type:
      - application/json
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: POST
    uri: http://python-core-testing.celonis.cloud:9999/api/internal/v2/auth/application-key
  response:
    content: '{"accessToken": "eyJhbGciOiJIUzUxMiIsImtpZCI6Im1vNVNnMVU1cC1VUVlGNGVaX2MtTGxmNFJCazY4a2VHVk9jV2lIZkJiWHciLCJ0eXAiOiJKV1QiLCJ6aXAiOiJERUYifQ.eJyNWFtv27gS_iuFn0OjuTRJ-xZ0i7PBdttity8HB4VBiSOZMUVqScqOu9j_fr6h5BslZ_OSWDMfqeFcvhnq71noiicq4yK6FdlF3LY0-zCTbWt0KaN2drGi7eyCYZC_vbxXxeX9W_FOlTfirihuhLyq7sXl7dvisrq8VbJ6B7CVDe_yp26cffPZldK8-YXWZFzbkI1vPj4CE0k2Yfbhf3_PtAL29u7q-r549168l3eFuKkKEu-vru6FfEvyWtE9yfv7_c62M-ZiplwjtcXab__9_uvXL4uPX__4tPj-6c_vj1_-g_8Pvy9--fr7w-MXLPPOYNnVxaz2rmv5tT8uZhXJ2Hn6jbYsmEm1lrYkJVryjQ4BZw8iUIz[...]
