interactions:
- request:
    body: ''
    headers:
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
    method: GET
    uri: http://python-core-testing.celonis.cloud:9999/api/internal/v2/auth/team-id/PYTHON_CORE_TESTING_TEAM_DOMAIN
  response:
    content: '{"teamId":"67238b59-9a7b-4fbe-9228-a0ea3de8ea88","teamActive":true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: '{"token": "<AUTHORIZATION_TOKEN>", "teamId": "67238b59-9a7b-4fbe-9228-a0ea3de8ea88"}'
    headers:
      content-type:
      - application/json
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: POST
    uri: http://python-core-testing.celonis.cloud:9999/api/internal/v2/auth/application-key
  response:
    content: '{"accessToken": "eyJhbGciOiJIUzUxMiIsImtpZCI6Im1vNVNnMVU1cC1VUVlGNGVaX2MtTGxmNFJCazY4a2VHVk9jV2lIZkJiWHciLCJ0eXAiOiJKV1QiLCJ6aXAiOiJERUYifQ.eJyNWFtv27gS_iuFn0OjuTRJ-xZ0i7PBdttity8HB4VBiSOZMUVqScqOu9j_fr6h5BslZ_OSWDMfqeFcvhnq71noiicq4yK6FdlF3LY0-zCTbWt0KaN2drGi7eyCYZC_vbxXxeX9W_FOlTfirihuhLyq7sXl7dvisrq8VbJ6B7CVDe_yp26cffPZldK8-YXWZFzbkI1vPj4CE0k2Yfbhf3_PtAL29u7q-r549168l3eFuKkKEu-vru6FfEvyWtE9yfv7_c62M-ZiplwjtcXab__9_uvXL4uPX__4tPj-6c_vj1_-g_8Pvy9--fr7w-MXLPPOYNnVxaz2rmv5tT8uZhXJ2Hn6jbYsmEm1lrYkJVryjQ4BZw8iUIz[...]
- request:
    body: '{"permissions": null, "id": null, "name": "PYTHON_CORE_DATA_POOL_TEST_GET_DATA_POOLS_INTERNALAUTHENTICATED_CLIENT0_538311F0",
      "description": null, "timeStamp": null, "configurationStatus": null, "locked":
      null, "contentId": null, "contentVersion": null, "tags": null, "originalId":
      null, "monitoringTarget": null, "customMonitoringTarget": null, "customMonitoringTargetActive":
      null, "exported": null, "monitoringMessageColumnsMigrated": null, "creatorUserId":
      null, "objectId": null}'
    headers:
      authorization:
      - AppKey PYTHON_CORE_TESTING
      content-type:
      - application/json
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: POST
    uri: http://python-core-testing.celonis.cloud:9999/integration/api/internal/data-pools
  response:
    content: '{"permissions":["EDIT_ALL_DATA_POOLS_RESTRICTED","EDIT_DATA_POOL_RESTRICTED","USE_ALL_DATA_MODELS","VIEW_ALL_DATA_POOLS","DATA_PUSH_API","ADMIN","VIEW_DATA_POOL","CONTINUOUS_DATA_PUSH_API","CREATE_DATA_POOL","EDIT_ALL_DATA_POOLS"],"id":"f0ee79b6-7c02-4c3f-b2d2-73be186d8930","name":"PYTHON_CORE_DATA_POOL_TEST_GET_DATA_POOLS_INTERNALAUTHENTICATED_CLIENT0_538311F0","description":null,"timeStamp":1717425663257,"configurationStatus":"CONFIGURED","locked":false,"contentId":null,"contentVersion":0,"tags":[],"originalId":null,"monitoringTarget":false,"businessGraphPool":false,"customMonitoringTarget":false,"customMonitoringTargetActive":false,"exported":false,"globalDataConnectionUsed":false,"monitoringMessageColumnsMigrated":false,"creatorUserId":"018db180-5dc4-7bb4-a2f8-160b1f16daf5","hasDeletedSchedulingTriggers":false,"poolProviderPerTenantId":"3b3e46d6-56c5-46b2-acd1-c0e02e234fd3","objectId":"f0ee79b6-7c02-4c3f-b2d2-73be186d8930"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - AppKey PYTHON_CORE_TESTING
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: DELETE
    uri: http://python-core-testing.celonis.cloud:9999/integration/api/pools/f0ee79b6-7c02-4c3f-b2d2-73be186d8930
  response:
    content: ''
    headers:
    status_code: 204
version: 1
