interactions:
- request:
    body: ''
    headers:
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
    method: GET
    uri: http://python-core-testing.celonis.cloud:9999/api/internal/v2/auth/team-id/PYTHON_CORE_TESTING_TEAM_DOMAIN
  response:
    content: '{"teamId":"67238b59-9a7b-4fbe-9228-a0ea3de8ea88","teamActive":true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 200
- request:
    body: '{"token": "<AUTHORIZATION_TOKEN>", "teamId": "67238b59-9a7b-4fbe-9228-a0ea3de8ea88"}'
    headers:
      content-type:
      - application/json
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: POST
    uri: http://python-core-testing.celonis.cloud:9999/api/internal/v2/auth/application-key
  response:
    content: '{"accessToken": "eyJhbGciOiJIUzUxMiIsImtpZCI6Im1vNVNnMVU1cC1VUVlGNGVaX2MtTGxmNFJCazY4a2VHVk9jV2lIZkJiWHciLCJ0eXAiOiJKV1QiLCJ6aXAiOiJERUYifQ.eJyNWFtv27gS_iuFn0OjuTRJ-xZ0i7PBdttity8HB4VBiSOZMUVqScqOu9j_fr6h5BslZ_OSWDMfqeFcvhnq71noiicq4yK6FdlF3LY0-zCTbWt0KaN2drGi7eyCYZC_vbxXxeX9W_FOlTfirihuhLyq7sXl7dvisrq8VbJ6B7CVDe_yp26cffPZldK8-YXWZFzbkI1vPj4CE0k2Yfbhf3_PtAL29u7q-r549168l3eFuKkKEu-vru6FfEvyWtE9yfv7_c62M-ZiplwjtcXab__9_uvXL4uPX__4tPj-6c_vj1_-g_8Pvy9--fr7w-MXLPPOYNnVxaz2rmv5tT8uZhXJ2Hn6jbYsmEm1lrYkJVryjQ4BZw8iUIz[...]
- request:
    body: '{"permissions": null, "id": null, "name": "PYTHON_CORE_SPACE_TEST_GET_SPACESAUTHENTICATED_CLIENT0_A15838E2",
      "iconReference": "earth", "creationDate": null, "changeDate": null, "objectId":
      null}'
    headers:
      authorization:
      - AppKey PYTHON_CORE_TESTING
      content-type:
      - application/json
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: POST
    uri: http://python-core-testing.celonis.cloud:9999/package-manager/api/internal/spaces
  response:
    content: '{"permissions":["CREATE_PACKAGE","USE_ALL_PACKAGES","DELETE_SPACE","EDIT_ALL_PACKAGES","MANAGE_PERMISSIONS","EDIT_ALL_SPACES","EDIT_SPACE","CREATE_SPACE","DELETE_ALL_PACKAGES","DELETE_ALL_SPACES"],"resourcePath":null,"actions":null,"groupedResourceTypeToActions":null,"id":"19ceb93e-888b-4a4f-b16e-d8cc958eb444","name":"PYTHON_CORE_SPACE_TEST_GET_SPACESAUTHENTICATED_CLIENT0_A15838E2","iconReference":"earth","description":null,"dataModels":[],"creationDate":1717425659434,"changeDate":1717425659434,"createdBy":"018db180-5dc4-7bb4-a2f8-160b1f16daf5","objectId":"19ceb93e-888b-4a4f-b16e-d8cc958eb444"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status_code: 201
- request:
    body: ''
    headers:
      authorization:
      - AppKey PYTHON_CORE_TESTING
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: GET
    uri: http://python-core-testing.celonis.cloud:9999/package-manager/api/spaces
  response:
    content: '[{"permissions":["MANAGE_PERMISSIONS","EDIT_ALL_SPACES","CREATE_SPACE","DELETE_ALL_[...]
- request:
    body: '{"id": "19ceb93e-888b-4a4f-b16e-d8cc958eb444", "name": "PYTHON_CORE_SPACE_TEST_GET_SPACESAUTHENTICATED_CLIENT0_A15838E2"}'
    headers:
      authorization:
      - AppKey PYTHON_CORE_TESTING
      content-type:
      - application/json
      x-celonis-service:
      - PYTHON_CORE_TESTING_SERVICE
      x-celonis-team-domain:
      - PYTHON_CORE_TESTING_TEAM_DOMAIN
      x-celonis-team-id:
      - 67238b59-9a7b-4fbe-9228-a0ea3de8ea88
    method: POST
    uri: http://python-core-testing.celonis.cloud:9999/package-manager/api/spaces/delete/19ceb93e-888b-4a4f-b16e-d8cc958eb444
  response:
    content: ''
    headers:
    status_code: 204
version: 1
